<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276745197194-tsgh2o0l24nrgri0g7qft98plhv2auro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276745197194-tsgh2o0l24nrgri0g7qft98plhv2auro</string>
	<key>API_KEY</key>
	<string>AIzaSyAliS5fplrk1SwSfm8xUDNeGJmil7BuaxM</string>
	<key>GCM_SENDER_ID</key>
	<string>276745197194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.Molhem</string>
	<key>PROJECT_ID</key>
	<string>molhem-d8588</string>
	<key>STORAGE_BUCKET</key>
	<string>molhem-d8588.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276745197194:ios:4f4f6cf86fd684e5833f73</string>
</dict>
</plist>